body {
    display: flex;
    flex-direction: column;
    background-color: #f9faf8;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    color: #f9faf8;
    padding: 16px 96px 48px 96px;
}

.header .logo {
    font-size: 24px;
    font-weight: 700;
}

.header ul {
    display: flex;
    gap: 24px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.header a {
    text-decoration: none;
    color: #f9faf8;
    font-size: 14px;
}

.body {
    display: flex;
    flex-direction: column;
}

.section-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 96px 96px;
    gap: 32px;
    background-color: #1F2937;
    color: #f9faf8;
}

.section-1 .title {
    font-size: 32px;
    font-weight: bold;
    flex-wrap: wrap;
}

.section-1 .text {
    padding: 8px 0;
}

.section-1 button {
    padding: 8px 16px;
    background-color: #3882f6;
    color: #f9faf8;
    border: none;
    border-radius: 5px;
}

.section-1 .img-placeholder {
    width: 320px;
    height: 180px;
    background-color: wheat;
    color: black;
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-2{
    display: flex;
    flex-direction: column;
    padding: 96px 0;
    background-color: #f9faf8;
}

.section-2 .title {
    text-align: center;
    font-size: 24px;
    font-weight: 550;
}

.section-2 .image-board {
    display: flex;
    justify-content:center;
    gap: 32px;
    padding: 32px;
}

.section-2 .annotated-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 110px;
    gap: 8px;
}

.section-2 .annotated-image .text {
    text-align: center;
    color: black;
    font-size: 13px;
}

.section-2 .img-container {
    width: 110px;
    height: 110px;
    flex: 1 0 auto;
    border: 3px solid #3882f6;
    border-radius: 10px;
}

.section-3 {
    background-color: #e5e7eb;
    align-items: center;
    padding: 96px 96px;
}

.section-3 .quote {
    font-size: 32px;
    font-style: italic;
}

.section-3 .quote-author {
    display: flex;
    justify-content: end;
    font-size: 20px;
    font-weight: 600;
    padding-right: 96px;
}

.section-4 {
    padding: 96px 96px;
}

.section-4 .blue-box {
    background-color: #3882f6;
    border-radius: 5px;
    padding: 32px 96px;
    color: #f9faf8;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-4 .title {
    font-size: 18px;
    font-weight: bold;
}

.section-4 .text {
    font-size: 14px;
}

.section-4 button {
    background-color: #3882f6;
    border: 2px solid #f9faf8;
    border-radius: 5px;
    color: #f9faf8;
    padding: 4px 16px;
    font-weight: 600;
    flex: 0 0 auto;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: #f9faf8;
    padding: 16px 0;
    font-size: 14px;
}